    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
     :root {
        --backgroundColor: rgba(246, 241, 209);
        --colorShadeA: rgb(106, 163, 137);
        --colorShadeB: rgb(121, 186, 156);
        --colorShadeC: rgb(150, 232, 195);
        --colorShadeD: rgb(187, 232, 211);
        --colorShadeE: rgb(205, 255, 232);
    }
    
    html {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Orbitron', sans-serif;
        background-color: rgb(139, 83, 241);
        /*overflow: hidden;*/
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .btn {
        height: 80px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        padding: 25px;
        width: auto;
    }
    
    .myButton {
        box-shadow: -4px 7px 28px -2px #a24cdb;
        background: linear-gradient(to bottom, #736ffc 5%, #d192de 100%);
        background-color: #736ffc;
        border-radius: 28px;
        border: 1px solid #d1a8f7;
        cursor: pointer;
        color: #ffffff;
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
        padding: 18px 48px;
        text-decoration: none;
        text-shadow: -4px 2px 4px #892dd4;
        display: grid;
        place-items: center;
    }
    
    .myButton:hover {
        background: linear-gradient(to bottom, #d192de 5%, #736ffc 100%);
        background-color: #d192de;
    }
    
    .myButton:active {
        position: relative;
        top: 1px;
    }
    
    #metin {
        width: 100%;
        left: 0;
        right: 0;
        display: grid;
        place-items: center;
        color: aliceblue;
        font-size: 50px;
    }
    
    .index {
        height: 100vh;
        left: 0;
        right: 0;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .adam {
        height: 500px;
        width: 300px;
        margin: 15px;
        padding: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #adamresmi {
        padding: 35px;
        height: 300px;
        width: 300px;
        position: 2/1;
        display: flex;
        align-items: center;
        border-radius: 20%;
    }
    
    .game {
        height: 500px;
        width: 400px;
        padding: 35px;
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        justify-content: center;
    }
    
    #kelime {
        height: 105px;
        width: 100%;
        justify-content: center;
        text-align: center;
        color: green;
        background-color: black;
        font-size: 25px;
        display: flex;
        align-items: center;
        border-bottom-left-radius: 20%;
        border-top-right-radius: 20%;
    }
    
    #form #text {
        height: 75px;
        width: 65px;
        font-size: 80px;
        color: black;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border: 8px solid black;
    }
    
    #form h2 {
        display: grid;
        place-items: center;
        width: auto;
        text-align: center;
        justify-content: center;
    }
    
    #form {
        height: 150px;
        width: 60%;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #form #btn2 {
        box-shadow: -4px 7px 28px -2px #a24cdb;
        background: linear-gradient(to bottom, #736ffc 5%, #d192de 100%);
        background-color: #736ffc;
        border-radius: 28px;
        border: 1px solid #d1a8f7;
        cursor: pointer;
        color: #ffffff;
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
        padding: 18px 48px;
        margin: 15px;
        text-decoration: none;
        text-shadow: -4px 2px 4px #892dd4;
        display: grid;
        place-items: center;
    }
    
    #btn2:hover {
        background: linear-gradient(to bottom, #d192de 5%, #736ffc 100%);
        background-color: #d192de;
    }
    
    #btn2:active {
        position: relative;
        top: 1px;
    }